a {
    color: black;
}

body {
    margin-left: 0.5%;
    margin-right: 0.5%;
}

h1 {
    margin-top: 1%;
}

input {
    margin: 4px;
}

.tabel_waarde {
    left: 0px;
}

.formgroup {
    margin: 0%;
}

.zoeken-nieuweaanmelding {
    display: inline-block;
}

#aanmelden {
    right: 5px;
    position:absolute;
}

#nogeenkeerzoeken {
    margin-top: 1%;
}

.formtext {
    margin-left: 4;
}

.zoekendiv {
    vertical-align: center;
}
