:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

html,
body {
    height: 100%;
}

body {
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

main {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
}

a {
    color: black;
}

h1 {
    margin-top: 1%;
}

p {
    margin-left: 12px;
}

table {
    margin-top: 10px;
}

form {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

#aanmeldWaarden {
    margin: 4px;
}

.zoeken-nieuweaanmelding {
    display: inline-block;
}

#aanmelden {
    right: 5px;
    position:absolute;
}

#nogeenkeerzoeken {
    margin-top: 0px;
}

.formtext {
    margin: 4px;
    position: relative;
    margin-bottom: 1rem;
}

.zoekendiv {
    vertical-align: center;
}

main {
    display: block;
}

#nogeenkeerzoeken {
    margin-left: 12px;
}

#tabel {
    margin-left: 12px;
}
